<select class="slds-select" id="select-01" onchange={onValueSelection}>
<option value="">---None---</option>
<template for:each={departmentPicklistValues} for:item="picklistItem">
    <option key={picklistItem.value} value={picklistItem.value}>
            {picklistItem.label}
    </option>
</template>
</select>